@charset "UTF-8";

/*----------------------------------------------
 initiarize
 ----------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

html {
    overflow-y: scroll;
    overflow-x: scroll;
}
body {
    background-color: #FFF;  
    font-family:
        "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
        "メイリオ", Meiryo, Osaka,
        "ＭＳ Ｐゴシック", "MS PGothic",
        sans-serif;

    font-size: 20px;
    color: #606060;
}

/*----------------------------------------------
 grobal
 ----------------------------------------------*/
a{
    text-decoration: underline;
    color: #444;
}

.menu{
    padding: 0px 4px; 
}

.base_width {
    margin: 0 auto;
    width: 98%;
    min-width: 700px;
    max-width: 1000px;
}
.sub_width {
    margin: 0 auto;
    width: 90%;
}

.spacer{
    height: 40px;
}
.separator{
    border-bottom: solid 2px #EEEEEE;
}

.font_bold{
    font-weight: 600;
}

.font_small{
    vertical-align:middle;
    font-size: 16px;
}
.font_large{
    vertical-align:middle;
    font-size: 26px;
}

/*----------------------------------------------
 header
 ----------------------------------------------*/
#header {
    background-color: #EEEEEE;  
}
#header a{
    color: #606060;
}

/*----------------------------------------------
 footer
 ----------------------------------------------*/
#footer {
    text-align: right;
}

/*----------------------------------------------
 button
 ----------------------------------------------*/

.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #606060;
    border: solid 2px #606060;
    border-radius: 8px;
    transition: .2s;
}

.btn-flat-border:hover {
    background: #EEEEEE;
}

.table_border{
    border-collapse:separate;
    border-spacing: 5px;
}

.td_border{
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
    width: 190px;

    border:solid 1px #AAAAFF;
}

/*----------------------------------------------
 head & text
 ----------------------------------------------*/
div.note_head1{
    font-weight: 600;
    margin: 10px 0px;
    padding: 0px 5px;
    background-color: #EEEEEE;    
}
div.note_head2{   
    font-weight: 600;
    margin: 10px 20px;
    padding: 0px 5px;
    border-bottom: solid 2px #EEEEEE;
    border-left: solid 4px #EEEEEE;
}
div.note_head3{   
    font-weight: 500;
    margin: 10px 30px;
    padding: 0px 5px;
    border-bottom: solid 2px #EEEEEE;
}
div.note_text0{
    margin: 0px 12px;
}
div.note_text1{
    margin: 0px 12px;
}
div.note_text2{
    margin: 0px 22px;
}
div.note_text3{
    margin: 0px 32px;
}